extends layout

block head_content
  title Welcome to Game Room #{gameId}
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/js/chat.js")
  script(type="text/javascript", src="/js/bundle.js")

block content
  include navbar.pug
  #gameArea
    #game_space.col-md-9.container-fluid.bg-1.text-center

      #OpponentHand
      .col-md-12
      .col-md-5
      #Deck.col-md-1
      #DiscardPile.col-md-6

      #Deck

      button#meldToggle.btn.btn-warning.btn-sm(type='button', value='meld_off') Start Meld
      #divider
      br
      br
      #Message
      br
      p -MELD-
      #temp_meld
      #PlayerHand

    #chat.col-md-3
      .row
        include chat.pug
      #meld_area.row
        p Melded Cards
  #waitingArea
    #waitMessage.alert.alert-danger.text-center(role='alert')
