extends layout

block head_content
  title Welcome to Game Room #{gameId}
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/js/chat.js")
  script(type="text/javascript", src="/js/bundle.js")
  link(href='https://fonts.googleapis.com/css?family=Montserrat', rel='stylesheet')

block content
  include navbar.pug
  // First Container
  #game_space.col-md-9.container-fluid.bg-1.text-center
    h3#margin.margin Player 2
    button#deal.btn.btn-warning.btn-md.buy-button(type='submit') Start
    h3#you You

  #chat_screen.col-md-3.container-fluid.bg-1.text-center
    h3#chat_font Chat
    include chat.pug
    button#meld.btn.btn-info.btn-sm.buy-button(type='submit') Meld/layoff
    button#cancel.btn.btn-info.btn-sm.buy-button(type='submit') Cancel
  p #{msg}
