extends layout

block head_content
  title Welcome to Game Room #{gameId}
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="/js/chat.js")
  script(type="text/javascript", src="/js/bundle.js")

block content
  include navbar.pug
  #gameArea
   #game_space.col-md-9.container-fluid.bg-1.text-center
     p Opponent hand:
     br
     #OpponentHand
     p Deck:
     #Deck
     p Discard Pile:

     #DiscardPile
     p Player hand:
     button#meld.btn.btn-warning.btn-sm.buy-button(type='submit') Meld/layoff
     span
     button#cancel.btn.btn-warning.btn-sm.buy-button(type='submit') Cancel
     br
     #PlayerHand

   #chat.col-md-3
     include chat.pug
  #waitingArea
