extends layout

block head_content
  title LOBBY
  link(rel='stylesheet', href='stylesheets/chat.css')
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="js/chat.js")
  script(type="text/javascript", src="js/lobbyclient.js")

block content
  .container
    img(src='img/logo.jpg')
    include chat.pug
    button#new-game-btn.btn.btn-primary(type='button') Create new game
    #availableGames
      p Available games to join:
      br
      ul#gameList
