extends layout

block head_content
  title LOBBY
  script(type="text/javascript", src="/socket.io/socket.io.js")
  script(type="text/javascript", src="js/chat.js")
  script(type="text/javascript", src="js/lobbyclient.js")

block content
  .container-fluid.background-green
    .row.text-center.top-buffer
      img(src='img/logo.jpg' style='width:25%').img-circle 
    .row.top-buffer
      .col-md-4#availableGames
        .row.text-center
          p Available Games
        .row.text-center
          ul.list-unstyled
      .col-md-4.text-center
        button#new-game-btn.btn.btn-primary(type='button') Create New Game
      .col-md-4
        include chat.pug
