extends layout

block head_content
  title Login
  script(type='text/javascript').
    window.onload = function() {
      var msg = !{JSON.stringify(errormsg)}
      if(msg) {
        var form = document.getElementById("login-error");
        var alertDiv = document.createElement("DIV");
        var alertText = document.createTextNode("Incorrect Username or Password");

        alertDiv.classList.add("alert", "alert-danger", "text-center");
        alertDiv.setAttribute("role", "alert");
        alertDiv.appendChild(alertText);

        form.appendChild(alertDiv);
      }
    }

block content
  include navbar.pug
  .container-fluid.background-green
    .row.text-center.bottom-buffer
      img(src='img/logo.jpg' style='width:25%; margin-top:15px').img-circle
    .row.bottom-buffer
      .col-md-4
      .col-md-4.text-center
        .row#login-error
        .row
          form(action='login', method='POST')
            .form-group
              input.form-control(type='text', name='username', placeholder='Username')
              br
              input.form-control(type='password', name='password', placeholder='Password')
              br
              input.btn.btn-primary(type='submit', name='submit', value='LOGIN')
          br
          a#sign_up_text(href='register', style='color:rgba(255, 255, 255, 255)') New User? Sign up here!!!
      .col-md-4
