extends layout

block head_content
  title Login
  script(type='text/javascript').
      var users = !{JSON.stringify(errormsg)}
      if(users != "undefined") alert("Incorrect Username/password")
      
block content
  include navbar.pug
  .container-fluid.background-green 
    .row.text-center.top-buffer
      img(src='img/logo.jpg' style='width:25%').img-circle
    .row.top-buffer
      .col-md-2
      .col-md-8.text-center
        form(action='login', method='POST')
          .form-group
            input.form-control(type='text', name='username', placeholder='Username')
            br
            input.form-control(type='password', name='password', placeholder='Password')
            br
            input.form-control.btn.btn-primary(type='submit', name='submit', value='LOGIN')
        br
        a(href='register', style='color:rgba(255, 255, 255, 255)') Create a new account
      .col-md-2    