// Navbar
nav#nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Rummy
    #myNavbar.collapse.navbar-collapse
      ul#menu.nav.navbar-nav.navbar-right
        li
          a(href='/lobby') Lobby
        li
          a(href='/rule') Rules
        li
          a(href='/about') About
