extend layout

block head_content
  title Registration
  script(src='js/validateRegister.js')
  
block content
  include navbar.pug
  #register.container-fluid.background-green
    .row.text-center.bottom-buffer
      img(src='img/logo.jpg' style='width:25%; margin-top:15px').img-circle
    .row
      .col-md-4
      .col-md-4.text-center
        form(name='register', action='register', method='POST', onsubmit='return validateForm()')
          .form-group
            input#firstname.form-control(type='text', name='firstname', placeholder='First name', required='')
            br
            input#lastname.form-control(type='text', name='lastname', placeholder='Last name', required='')
            br
            input#email.form-control(type='email', name='email', placeholder='Email id')
            br
            input#username.form-control(type='text', name='username', placeholder='Username', required='')
            br
            input#password.form-control(type='password', name='password', placeholder='Password', required='')
            br
            input#confirm.form-control(type='password', name='confirm', placeholder='Confirm Password', required='')
            br
            input.btn.btn-primary(type='submit', name='submit', value='CREATE ACCOUNT')
      .col-md-4
