/* HTML tags */
html, body {
  height: 100%;
}

a {
  color: #fff;
}

/* CUSTOM */

#availableGames  {
  margin-right: 15px;
  margin-left: 15px;
  color: black;
  border: 2px solid #ff8c00;
  background-color: white;
  border-radius: 2px;
  height: 100%;
}

#gamesListContainer {  
  margin-right: 15px;
  margin-left: 15px;
  color: black;
  border: 2px solid #ff8c00;
  background-color: white;
  border-radius: 5px;
  height: 250px;
}

#chat-container { 
  width: 100%; 
  height: 250px;
  color: black;
}

#chat-box { 
  width: 100%; 
  height: 100%; 
  margin-right: 15px;
  margin-left: 15px;
  border: 2px solid #ff8c00;
  background-color: white;
  border-radius: 15px;
  overflow-y: scroll; 
  position: relative; 
  text-align: left;
}
     
#messages li:nth-child(odd) { 
  background: #fffacd; 
}

#send-button, #chat-input {
  margin-top: 10px;
}
     
/* HELPER CLASSES */

.top-buffer {
  margin-top: 50px;
}

.background-login-form {
  background-color: rgba(52,73,94,0.7);
  border-radius: 4px;
}

.background-green {
  height:100%;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#1{
    background: url(../img/playcard.png) 0 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#2{
    background: url(../img/playcard.png) -69px 0;
    display:inline-block;
    width: 69px;
    height: 100px;
}

#3{
    background: url(../img/playcard.png) -138px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#4 {
    background: url(../img/playcard.png) -207px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#5{
    background: url(../img/playcard.png) -276px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#6{
    background: url(../img/playcard.png) -345px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#7{
    background: url(../img/playcard.png) -414px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#8{
    background: url(../img/playcard.png) -483px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#9{
    background: url(../img/playcard.png) -552px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#10{
    background: url(../img/playcard.png) -621px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#11{
    background: url(../img/playcard.png) -690px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#12{
    background: url(../img/playcard.png) -759px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#13{
    background: url(../img/playcard.png) -828px 0;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#14{
    background: url(../img/playcard.png) 0px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#15{
    background: url(../img/playcard.png) -69px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#16{
    background: url(../img/playcard.png) -138px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#17{
    background: url(../img/playcard.png) -207px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#18{
    background: url(../img/playcard.png) -276px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#19{
    background: url(../img/playcard.png) -345px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#20{
    background: url(../img/playcard.png) -414px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#21{
    background: url(../img/playcard.png) -483px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#22{
    background: url(../img/playcard.png) -552px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#23{
    background: url(../img/playcard.png) -621px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#24{
    background: url(../img/playcard.png) -690px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#25{
    background: url(../img/playcard.png) -759px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#26{
    background: url(../img/playcard.png) -828px -100px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#27{
    background: url(../img/playcard.png) 0px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#28{
    background: url(../img/playcard.png) -69px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#29{
    background: url(../img/playcard.png) -138px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#30{
    background: url(../img/playcard.png) -207px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#31{
    background: url(../img/playcard.png) -276px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#32{
    background: url(../img/playcard.png) -345px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#33{
    background: url(../img/playcard.png) -414px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#34{
    background: url(../img/playcard.png) -483px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#35{
    background: url(../img/playcard.png) -552px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#36{
    background: url(../img/playcard.png) -621px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#37{
    background: url(../img/playcard.png) -690px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#38{
    background: url(../img/playcard.png) -759px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#39{
    background: url(../img/playcard.png) -828px -200px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#40{
    background: url(../img/playcard.png) 0px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#41{
    background: url(../img/playcard.png) -69px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#42{
    background: url(../img/playcard.png) -138px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#43{
    background: url(../img/playcard.png) -207px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#44{
    background: url(../img/playcard.png) -276px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#45{
    background: url(../img/playcard.png) -345px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#46{
    background: url(../img/playcard.png) -414px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#47{
    background: url(../img/playcard.png) -483px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#48{
    background: url(../img/playcard.png) -552px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#49{
    background: url(../img/playcard.png) -621px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#50{
    background: url(../img/playcard.png) -690px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#51{
    background: url(../img/playcard.png) -759px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#52{
    background: url(../img/playcard.png) -828px -300px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#53{
    background: url(../img/playcard.png) 0px -400px;
    display: inline-block;
    width: 69px;
    height: 100px;
}

#body {
    font: 20px Montserrat, sans-serif;
    line-height: 1;
    color: #f5f6f7;
}

p {font-size: 16px;}

#margin {
    margin-bottom: 450px;
}

#game_space {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
    padding-top: 5px;
    padding-bottom: 15px;
}


#nav {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
}

#menu{
    color: #1abc9c !important;
}
